<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Obfuscation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Obfuscation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Obfuscation.Properties.Settings>
            <setting name="functionDeclarationPattern" serializeAs="String">
                <value>(?&lt;=function[\s+])[a-zA-Z_\x7f-\xff][a-zA-Z0-9_\x7f-\xff]*(?=\s*\()</value>
            </setting>
            <setting name="functionPattern" serializeAs="String">
                <value>(?&lt;![$])(?&lt;=[\s=\+\-\*\(\)\!\&gt;,;@])[a-zA-Z_\x7f-\xff][a-zA-Z0-9_\x7f-\xff]*(?=\s*\()</value>
            </setting>
            <setting name="classDeclarationPattern" serializeAs="String">
                <value>(?&lt;=class\s)[a-zA-Z_\x7f-\xff][a-zA-Z0-9_\x7f-\xff]*</value>
            </setting>
        </Obfuscation.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Obfuscation.Properties.Settings>
            <setting name="stringPattern" serializeAs="String">
                <value>(".*?[^\\]")|('.*?[^\\]')|&lt;&lt;&lt;(\w+)(.|\s)+?(\4)
</value>
            </setting>
            <setting name="variablePattern" serializeAs="String">
                <value>\$[a-zA-Z_\x7f-\xff][a-zA-Z0-9_\x7f-\xff]*</value>
            </setting>
        </Obfuscation.Properties.Settings>
    </applicationSettings>
</configuration>