<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PHP_Obfuscator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PHP_Obfuscator.Properties.Settings>
            <setting name="lastSourceDir" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTargetDir" serializeAs="String">
                <value />
            </setting>
            <setting name="excludedVariables" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>$password:checked</string>
                        <string>$database:checked</string>
                        <string>$username:checked</string>
                        <string>$server:checked</string>
                        <string>$_SERVER:checked</string>
                        <string>$HTTP_SERVER_VARS:checked</string>
                        <string>$_ENV:checked</string>
                        <string>$_COOKIE:checked</string>
                        <string>$_GET:checked</string>
                        <string>$_POST:checked</string>
                        <string>$_FILES:checked</string>
                        <string>$_REQUEST:checked</string>
                        <string>$_SESSION:checked</string>
                        <string>$GLOBALS:checked</string>
                        <string>$this:checked</string>
                        <string>$php_errormsg:checked</string>
                    </ArrayOfString>
                </value>
            </setting>
        </PHP_Obfuscator.Properties.Settings>
    </userSettings>
</configuration>